# db
export DB_USER=koto
export DB_PASSWORD=password
export DB_PATH=127.0.0.1
export DB_PORT=3306
export DB_DATABASE=koto

# goose
export GOOSE_DRIVER=mysql
export GOOSE_DBSTRING="$DB_USER:$DB_PASSWORD@tcp($DB_PATH:$DB_PORT)/$DB_DATABASE?parseTime=true"
